# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
/coverage/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Built application files
*.apk
*.ap_
*.aab

# Files for the ART/Dalvik VM
*.dex

# Gradle
.gradle
.gradle/

# Local configuration file (sdk path, etc)
local.properties

# Signing files
.signing/
*.jks
*.keystore
key.properties
keystore.properties

# Fastlane secrets
pc-api.json

# Bundler / Fastlane local install
.bundle/
**/vendor/
**/fastlane/report.xml

# NDK
obj/
.externalNativeBuild
android/app/.cxx/

# Windows
Thumbs.db

# Android Studio
.navigation
captures/
output.json

# Gemini / Claude
.claude/

# Environment
.env
